
{% extends "base.html" %}
{% block content %}

<link rel="stylesheet" href="/static/css/contact.css" media="screen">
<section class="u-align-center u-clearfix u-section-1" id="sec-fbeb">
  <div class="u-clearfix u-sheet u-sheet-1">
    <h2 class="u-text u-text-1">Contact Us</h2>
    <div class="u-form u-form-1">
      <form action="#" method="POST" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" style="padding: 10px" source="email" name="form">
        {{ form.hidden_tag() }}
        <input type="hidden" id="siteId" name="siteId" value="334662">
        <input type="hidden" id="pageId" name="pageId" value="334843">
        <div class="u-form-group u-form-name">
          <label for="name-3b9a" class="u-form-control-hidden u-label">Name</label>
          <!-- <input type="text" placeholder="Enter your Name" id="name-3b9a" name="name" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required=""> -->
          {{ form.name(class='u-border-1 u-border-grey-30 u-input u-input-rectangle u-white', placeholder="Enter your Name") }}
        </div>
        <div class="u-form-email u-form-group">
          <label for="email-3b9a" class="u-form-control-hidden u-label">Email</label>
          <!-- <input type="email" placeholder="Enter a valid email address" id="email-3b9a" name="email" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required=""> -->
          {{ form.email(class='u-border-1 u-border-grey-30 u-input u-input-rectangle u-white' , placeholder="Enter a valid email address") }}
        </div>
        <div class="u-form-group u-form-message">
          <label for="message-3b9a" class="u-form-control-hidden u-label">Message</label>
          <!-- <textarea placeholder="Enter your message" rows="4" cols="50" id="message-3b9a" name="message" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required=""></textarea> -->
          {{ form.message(class='u-border-1 u-border-grey-30 u-input u-input-rectangle u-white' , placeholder="Enter your message") }}
        </div>
        <div class="u-align-left u-form-group u-form-submit">
          <a href="#" class="u-btn u-btn-submit u-button-style">Submit</a>
          <input type="submit" value="submit" class="u-form-control-hidden">
        </div>
        <div class="u-form-send-message u-form-send-success"> Thank you! Your message has been sent. </div>
        <div class="u-form-send-error u-form-send-message"> Unable to send your message. Please fix errors then try again. </div>
        <input type="hidden" value="" name="recaptchaResponse">
      </form>
    </div>
  </div>
</section>

{% endblock %}