{% extends "base.html" %}
{% block content %}

<link rel="stylesheet" href="/static/css/keystrokes.css" media="screen">
<section class="u-border-2 u-border-palette-5-light-3 u-clearfix u-section-1" id="sec-d1cc">
    <div class="u-clearfix u-sheet u-sheet-1">
        <h3 class="u-custom-font u-text u-text-font u-text-1">Recorded Keystrokes</h3>
        <ul class="u-text u-text-2">
            {% if not log %}
              <li>No data</li>
              {% else %}
                {% for l in log %}
                <li>{{ l }}</li>
              {% endfor %}
            {% endif %}
          </ul>
    </div>
</section>


{% endblock %}
