{% extends "base.html" %}
{% block content %}

<link rel="stylesheet" href="/static/css/keystrokes.css" media="screen">
<section class="u-border-2 u-border-palette-5-light-3 u-clearfix u-section-1" id="sec-d1cc">
    <div class="u-clearfix u-sheet u-sheet-1">
        <h3 class="u-custom-font u-text u-text-font u-text-1">Recorded Keystrokes</h3>
        <p class="u-text u-text-2">Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
    </div>
</section>


{% endblock %}
