{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="/static/css/login.css" media="screen">

<section class="u-align-left u-clearfix u-section-1" id="sec-861a">
  <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
    <div class="u-palette-1-light-3 u-radius-10 u-shape u-shape-round u-shape-1"></div>
    <div class="u-form u-form-1">
      <form method="POST" class="" style="padding: 10px">
        {{ form.hidden_tag() }}
        <div class="u-form-group u-form-group-1">
          <label for="text-50be" class="u-label">Email</label>
          {{ form.email(class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white placeholder", placeholder="Enter your email")}}
        </div>
        <div class="u-form-group u-form-group-2">
          <label for="text-8f06" class="u-label">Password</label>
          {{ form.password(class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white placeholder", placeholder="Enter your password")}}
        </div>
        <div class="u-align-center u-form-group u-form-submit">
          <!-- <a href="{{ url_for('administration.dashboard')}}" class="u-btn u-btn-submit u-button-style u-btn-1">Login</a> -->
          {{ form.submit(class="u-btn u-btn-submit u-button-style u-btn-1")}}
        </div>
      </form>
    </div>
  </div>
</section>



{% endblock %}