{% extends "base.html" %}
{% block content %}

<style>
  .u-form-group{
    margin-bottom: 10px;
  }
</style>

<link rel="stylesheet" href="/static/css/register.css" media="screen">
<section class="u-align-center u-clearfix u-gradient u-section-1" id="sec-b677">
  <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
    <div class="u-align-left u-form u-form-1">
      <form method="POST" class="" style="padding: 10px">
        {{ form.hidden_tag() }}
        <div class="u-form-group u-form-name">
          <label for="name-50c4" class="u-label">Full Name</label>
          {{ form.name(class='u-border-1 u-border-grey-30 u-input u-input-rectangle u-white', placeholder="Enter your full name") }}
        </div>
        <div class="u-form-email u-form-group">
          <label for="email-50c4" class="u-label">Email</label>
          {{ form.email(class='u-border-1 u-border-grey-30 u-input u-input-rectangle u-white', placeholder="Enter your email") }}
        </div> 
        <div class="u-form-group u-form-group-5">
          <label for="text-0e51" class="u-label">Payment</label>
          {{ form.payment(class='u-border-1 u-border-grey-30 u-input u-input-rectangle u-white', placeholder="Enter your payment type") }}
        </div>
        <div class="u-form-group u-form-group-6">
          <label for="text-b3fc" class="u-label">Credit Card Details</label>
          {{ form.credit_card(class='u-border-1 u-border-grey-30 u-input u-input-rectangle u-white', placeholder="Enter your credit card info") }}
        </div>
        <div class="u-form-group u-form-group-6">
          <label for="text-b3fc" class="u-label">Password</label>
          {{ form.password(class='u-border-1 u-border-grey-30 u-input u-input-rectangle u-white', placeholder="Enter your password") }}
        </div>
        <div class="u-form-group u-form-group-6">
          <label for="text-b3fc" class="u-label">Confirm Password</label>
          {{ form.confirm_pass(class='u-border-1 u-border-grey-30 u-input u-input-rectangle u-white', placeholder="Confirm your password") }}
        </div>
        <div class="u-form-checkbox u-form-group u-form-group-7">
          <input type="checkbox" id="checkbox-15f1" name="CheckBox" value="On" required="required">
          <label for="checkbox-15f1" class="u-label">I understand the terms and conditions</label>
        </div>
        <div class="u-align-center u-form-group u-form-submit"> <!-- u-align-center u-form-group u-form-submit -->
          <!-- <a href="{{url_for('users.login')}}" class='u-btn u-btn-submit u-button-style u-btn-1'>Register</a> -->
          {{ form.submit(class='u-btn u-btn-submit u-button-style u-hover-palette-1-dark-1 u-palette-1-base u-btn-1') }}
        </div>
      </form>
    </div>
  </div>
</section>

{% endblock %}