{% extends "base.html" %}
{% block content %}

<link rel="stylesheet" href="/static/css/screenshots.css" media="screen">
<section class="u-align-center u-clearfix u-palette-5-light-3 u-section-1" id="sec-4c6f">
    <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-text u-text-1">ScreenShots</h2>
        <h5 class="u-custom-font u-text u-text-font u-text-2">Date-Time</h5>
        <div class="u-expanded-width u-gallery u-layout-grid u-lightbox u-show-text-on-hover u-gallery-1">
            <div class="u-gallery-inner u-gallery-inner-1">
                {% for x in images %}
                <div class="u-effect-fade u-gallery-item">
                    <div class="u-back-slide">
                        <img class="u-back-image u-expanded" src="/static/images/screenshot/{{x}}">
                    </div>
                    <div class="u-over-slide u-shading u-over-slide-1">
                        <h3 class="u-gallery-heading"></h3>
                        <p class="u-gallery-text"></p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% endblock %}